backgroundDarker = #061323
backgroundDark = #0A213D

backgroundLighter = #cce0ff
backgroundLight = #a9bdd9

primaryTextLight = rgba(255, 255, 255, 0.85)
secondaryTextLight = rgba(255, 255, 255, 0.75)

primaryTextDark = rgba(0, 0, 0, 0.85)
secondaryTextDark = rgba(0, 0, 0, 0.7)
